@(myForm: Form[Programacao])

@main("Lista de tarefas") { } {
@helper.form(action = routes.TarefaController.submit()) {
<div>
    <input type="hidden" value='@myForm("id").value' name="id" id="id"/>
</div>
<div>
    <p>
        @helper.inputDate(myForm("inicio"), '_label -> "Início")
    </p>
</div>
<div>
    <p>
        @helper.inputDate(myForm("fim"), '_label -> "Fim", 'rows -> 5)
    </p>
</div>
<div>
    <p>
        @helper.inputRadioGroup(myForm("recorrencia"), options = Seq("D"->"Diário"), '_label -> "Recorrência")
    </p>
</div>
<div>
    <p>
        <input type="submit" name="save" value="Salvar" id="save"/>
    </p>
</div>
}
}