@(programacaoList: List[models.Programacao])

@main("Lista de tarefas") { } {
<div>
    <table>
        <thead>
            <td>id</td>
            <td>Inicio</td>
            <td>Fim</td>
        </thead>
        <tbody>
            @for(programacao <- programacaoList) {
            <tr>
                <td>@programacao.id</td>
                <td>@programacao.inicio</td>
                <td>@programacao.fim</td>
                <td><a href="@routes.ProgramacaoController.delete(programacao.id)">Remover</a></td>
                <td><a href="@routes.ProgramacaoController.formUpdate(programacao.id)">Atualizar</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <p>
        <a href="@routes.ProgramacaoController.formNew">Novo</a>
    </p>
</div>
}
